<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" xml:lang="en-US">
  <id>tag:github.com,2008:/silegon</id>
  <link type="text/html" rel="alternate" href="https://github.com/silegon"/>
  <link type="application/atom+xml" rel="self" href="https://github.com/silegon.private.atom?token=AAmybFO4OaArmKriu87VVo2ls6yEH5mfks66wszowA=="/>
  <title>Private Feed for silegon</title>
  <updated>2019-04-15T17:38:38Z</updated>
  <entry>
    <id>tag:github.com,2008:CreateEvent/9446954570</id>
    <published>2019-04-15T17:38:38Z</published>
    <updated>2019-04-15T17:38:38Z</updated>
    <link type="text/html" rel="alternate" href="https://github.com/percy/example-todomvc"/>
    <title type="html">fotinakis created a repository percy/example-todomvca</title>
    <author>
      <name>fotinakis</name>
      <email></email>
      <uri>https://github.com/fotinakis</uri>
    </author>
    <media:thumbnail height="30" width="30" url="https://avatars2.githubusercontent.com/u/75300?s=30&amp;v=4"/>
    <content type="html">&lt;div class=&quot;repo&quot;&gt;&lt;div class=&quot;body&quot;&gt;
&lt;!-- create --&gt;
&lt;div class=&quot;d-flex flex-items-baseline border-bottom border-gray py-3&quot;&gt;
    &lt;span class=&quot;mr-3&quot;&gt;
  &lt;a class=&quot;d-inline-block&quot; href=&quot;/fotinakis&quot; rel=&quot;noreferrer&quot;&gt;&lt;img class=&quot;avatar&quot; src=&quot;https://avatars1.githubusercontent.com/u/75300?s=64&amp;amp;v=4&quot; width=&quot;32&quot; height=&quot;32&quot; alt=&quot;@fotinakis&quot;&gt;&lt;/a&gt;
&lt;/span&gt;

  &lt;div class=&quot;d-flex flex-column width-full&quot;&gt;
        &lt;div class=&quot;d-flex flex-items-baseline&quot;&gt;
          &lt;div&gt;
            &lt;a class=&quot;link-gray-dark no-underline text-bold wb-break-all d-inline-block&quot; href=&quot;/fotinakis&quot; rel=&quot;noreferrer&quot;&gt;fotinakis&lt;/a&gt;
            
            created a
            repository
            
            &lt;a class=&quot;link-gray-dark no-underline text-bold wb-break-all d-inline-block&quot; href=&quot;/percy/example-todomvc&quot; rel=&quot;noreferrer&quot;&gt;percy/example-todomvc&lt;/a&gt;
            &lt;span class=&quot;f6 text-gray-light no-wrap ml-1&quot;&gt;
              &lt;relative-time datetime=&quot;2019-04-15T17:38:38Z&quot;&gt;Apr 16, 2019&lt;/relative-time&gt;
            &lt;/span&gt;
          &lt;/div&gt;
        &lt;/div&gt;

    &lt;div class=&quot;Box p-3 mt-2&quot;&gt;
      &lt;div&gt;
        &lt;div class=&quot;f4 lh-condensed text-bold text-gray-dark&quot;&gt;
            &lt;a class=&quot;link-gray-dark no-underline text-bold wb-break-all d-inline-block&quot; href=&quot;/percy/example-todomvc&quot; rel=&quot;noreferrer&quot;&gt;percy/example-todomvc&lt;/a&gt;
        &lt;/div&gt;

          &lt;div class=&quot;dashboard-break-word text-gray mt-1 repo-description&quot;&gt;
            &lt;p&gt;An example application based on [TodoMVC](&lt;a href=&quot;https://github.com/tastejs/todomvc&quot; rel=&quot;noreferrer&quot;&gt;https://github.com/tastejs/todomvc&lt;/a&gt;).&lt;/p&gt;
          &lt;/div&gt;

          &lt;p class=&quot;f6 text-gray mt-2 mb-0&quot;&gt;
            &lt;span&gt;Updated Apr 16&lt;/span&gt;
          &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;&lt;/div&gt;</content>
  </entry>
</feed>
